* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    width: 90vw;
    margin: 50px auto;
    padding: 30px;
    border:10px double teal;
}

.bio-heading {
    width: 350px;
    margin: 30px auto;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px slategray;
}

img:hover {
    /**** #1 ****/
    /*make the image bigger when hovered*/
}

/**** #2 ****/
/*make the name change color*/
h1 {
    text-align: center;
    animation: blink 3s infinite;
}


@keyframes blink {
    /*put your animation here*/
}

/**** #3 ****/
/*make the hr move sideways*/
hr {
    position: relative;
    width: 900px;
    border: 1px solid teal;
    /*?*/
}

/*?????*/


.bio {
    padding-top: 20px;
}

.bio p {
    font-size: 20px;
}
