* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    width: 90vw;
    margin: 50px auto;
    padding: 30px;
    border:10px double teal;
}

.bio-heading {
    width: 350px;
    margin: 30px auto;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px slategray;
}

/*********************** #1 ***********************/

img:hover {
    /*make the image bigger when hovered*/
}

/*********************** #1 ***********************/


/*********************** #2 ***********************/

/*make the name change color*/
h1 {
    text-align: center;
    animation: blink 3s infinite;
}

@keyframes blink {
    /*put your animation here*/
}

/*********************** #2 ***********************/



/*********************** #3 ***********************/

/*make the hr move sideways*/
hr {
    position: relative;
    width: 900px;
    border: 1px solid teal;
    /*?*/
}

/*?????*/

/*********************** #3 ***********************/

.bio p {
    font-size: 20px;
}

.bio ul  {
    list-style: none;
}

.bio li {
    margin-top: 5px;
}


/*********************** #4 ***********************/
/*make the bullet spin*/
.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 3px solid teal;
    border-top: 3px solid hotpink;
    /*?*/
}

/*?????*/

/*********************** #4 ***********************/

/*********************** #5 ***********************/

.color {
    color: black;
    /*transition: ;*/
}

/*?????*/
/*********************** #5 ***********************/