* {
 box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background: linear-gradient(#007A7C -100%, #ffffff);
  padding: 50px;
}

main div {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}
