* {
    box-sizing: border-box;
    margin: 0;
    line-height: 0;
}

main {
    margin: 100px 200px;
}

.wrapper {
    margin: 200px auto;
}

.image-container {
    width: 200px;
    height: 200px;
    /*transition: all 200ms ease;*/
}

.image-container:hover {
    /*width: 220px;*/
    /*height: 220px;*/

    /*transform: scale(1.2);*/

    /*transform: rotate(25deg);*/

    /*transform: skew(-25deg);*/

    /*transform: translate(50px, 50px);*/

    /*transform: matrix(1, 0, 0.5, 1, 150, 0);*/
}

img {
    width: 100%;
    box-shadow: 6px 6px 10px slategray;
}


.teardrop {
    display: inline-block;
    position: relative;
    top: 0;
    width: 35px;
    height: 35px;
    margin-right: 50px;
    background-color: deepskyblue;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-30deg);
    opacity: 1;
    transition: all 5000ms ease;
}

.teardrop__wrapper:hover .teardrop {
    top: 100px;
    opacity: 0;
}


.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 10px solid teal;
    /*animation: spinit 5s infinite;*/
}

/*@keyframes spinit {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    25% {*/
/*        transform: rotate(180deg);*/
/*    }*/
/*    50% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*    75% {*/
/*        transform: rotate(180deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/

.wheel {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 10px solid teal;
    border-top: 10px solid #ddd;
    border-radius: 100%;
    /*animation: spinner 2s ease-in-out infinite;*/
}

/*@keyframes spinner {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/

/*    50% {*/
/*        transform: rotate(360deg);*/
/*    }*/

/*    75% {*/
/*        transform: rotate(180deg);*/
/*    }*/

/*    100% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/




