.container {
  width: 100%;
  height: auto;
  background-color: #186093;
}

.image {
  width: 30%;
  // float: right;
  // margin-left: 30px;
}

.paragraph {
  color: #ffffff;
}

// .clearfix {
//   clear: both;
// }