.container {
  width: 100%;
  height: 100px;
  background-color: #000000;
}

.box {
  width: 50px;
  height: 50px;
}

.blue {
  background-color: #186093;
}

.pink {
  background-color: #FE6093;
}

.green {
  background-color: #01D601;
}

.purple {
  background-color: #CA5DE8;
}

