@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media only screen and (max-width: 500px) {
  body {
    background-color: lightblue;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Quicksand;
  background-color: #F2F2F2;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: #E8E8E8;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h1 .manila {
  color: #5FCCBA;
}


nav.dark-div {
  background: #4F4F4F;
}

nav ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
  margin: 0;
  padding-bottom: 10px;
}

nav ul li {
  padding: 10px 15px;
}

nav ul li:after {
  display: block;
  content: '';
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-bottom: 2px solid #5FCCBA;
}

nav ul li:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

nav li.home-link:after {
  border-bottom: 0;
}

nav li.home-link:hover img {
  transform: scale(1.5);
  transition: transform 250ms ease-in-out;
}

nav li.home-link img {
  height: 18px;
  width: 20px;
}

nav ul li a {
  color: #FEFEFE;
  text-decoration: none;
  font-size: 16px;
}

.image-div {
  background: url(images/bg-img.jpg);
  background-position: -20px;
  height: 500px;
  background-repeat: no-repeat;
}

main {
  padding: 20px;
}

footer {
  background-color: #4F4F4F;
  height: 120px;
  padding: 15px;
}

footer h3 {
  color: #ffffff;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

li {
  display: inline-block;
  margin-right: 15px;
}

li img {
  height: 50px;
  width: 50px;
}

footer li:hover img {
  transform: rotate(20deg);
  transition: transform 250ms ease-in-out;
}
