.green {
  width: 100%;
  height: 50px;
  background-color: #65F058;
}

.blue {
  width: 100%;
  height: 1000px;
  background-color: #2596E5;
}

.purple {
  width: 400px;
  height: 400px;
  background-color: #A282D1;
}

.pink {
  width: 200px;
  height: 200px;
  background-color: #FE87AC;
}